@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .w-30 {
    width: 43%;
  }
}
@layer components {
  .ActiveButton {
    @apply bg-color7 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full;
  }
  .noActiveButton {
    @apply flex h-10 w-10 cursor-pointer items-center justify-center rounded-full;
  }
}
.dropdown {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.dropdown.active {
  opacity: 1;
}
.custom-scrollbar {
  scrollbar-color: #303d45 transparent;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 3px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
